<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_IndexQueue>
            <version>1.0.0</version>
        </Webgriffe_IndexQueue>
    </modules>
    <global>
        <models>
            <wg_indexqueue>
                <class>Webgriffe_IndexQueue_Model</class>
                <resourceModel>wg_indexqueue_resource</resourceModel>
            </wg_indexqueue>
            <wg_indexqueue_resource>
                <class>Webgriffe_IndexQueue_Model_Resource</class>
            </wg_indexqueue_resource>
            <index>
                <rewrite>
                    <indexer>Webgriffe_IndexQueue_Model_Indexer</indexer>
                </rewrite>
            </index>
        </models>
        <blocks>
            <wg_indexqueue>
                <class>Webgriffe_IndexQueue_Block</class>
            </wg_indexqueue>
        </blocks>
        <helpers>
            <wg_indexqueue>
                <class>Webgriffe_IndexQueue_Helper</class>
            </wg_indexqueue>
        </helpers>
        <events>
            <lilmuckers_queue_close_db_connection_after>
                <observers>
                    <wg_indexqueue>
                        <type>singleton</type>
                        <class>wg_indexqueue/observer</class>
                        <method>closeDbConnection</method>
                    </wg_indexqueue>
                </observers>
            </lilmuckers_queue_close_db_connection_after>
            <lilmuckers_queue_reopen_db_connection_after>
                <observers>
                    <wg_indexqueue>
                        <type>singleton</type>
                        <class>wg_indexqueue/observer</class>
                        <method>reopenDbConnection</method>
                    </wg_indexqueue>
                </observers>
            </lilmuckers_queue_reopen_db_connection_after>
        </events>
    </global>
    <default>
        <system>
            <index_queue>
                <enabled>0</enabled>
            </index_queue>
        </system>
    </default>
    <queues>
        <indexQueue>
            <label>Index Queue</label>
            <class>lilqueue/queue</class>
            <workers>
                <indexTask>
                    <class>wg_indexqueue/indexWorker</class>
                    <method>run</method>
                </indexTask>
            </workers>
        </indexQueue>
    </queues>
    <phpunit>
        <suite>
            <modules>
                <Webgriffe_IndexQueue/>
            </modules>
        </suite>
    </phpunit>
</config>
